.item {
  text-align: center;
  position: relative;
  transition: all linear 0.1s;
  margin: 16px;

  &:hover {
    transform: scale(1.3);
  }
}

@mixin tick($rotation-angle) {
  content: '';
  width: 8px;
  background: green;
  position: absolute;
  -webkit-transform: rotate($rotation-angle);
  transform: rotate($rotation-angle);
}

.selected {
  &:after {
    @include tick(45deg);
    height: 35px;
    left: 110px;
  }
  &:before {
    @include tick(-45deg);
    height: 20px;
    left: 93px;
    top: 10px;
    z-index: 1;
  }
  img {
    opacity: 0.5;
  }
}
